<!DOCTYPE html>
<html>
  <head>
    <title>UpUp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%if flash[:error].present? %>     
  		<p><%= flash[:error] %></p>
	  <%end%>
    <% if session[:user_id] == nil %>
    <%= link_to 'Sign_up', new_user_path %>
    <%= link_to 'Sign_in', new_session_path %>
    <% else %>
    <%= link_to "Log Out", logout_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
